@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.tracking-code-form {
  animation-name: appear;
  animation-duration: 0.3s;
}

.tracking-code-form #packageIcon { 
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  transform: scale(0.7);
  max-height: 200px;
}

.milkyGlassBox {
  background: linear-gradient(180deg, rgba(195, 195, 195, 0.36) 0%, rgba(196, 196, 196, 0) 100%);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.milkyGlassBox h2 {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  font-size: 18px;
}

.milkyGlassBox input {
  font-size: 24px;
  text-align: center;
  border-width: 0px;
  background-color: #ededed;
  border-radius: 2000px;
  padding: 10px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.milkyGlassBox p {
  margin-top: 10px;
  text-align: center;
}

.milkyGlassBox .nextButton {
  display: flex;
  justify-content: center;
}