.card-carousel {
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  width:100%;
  scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(calc(75% + 6px));
  scroll-behavior: smooth;
}